#formInput {
    text-align: center;
}

h1 {
    font-size: 64px;
    text-align: center;
}

h3 {
    padding: 15px;
    margin: 15px;
}

#formMenu {
    display: inline;
    padding: 25px;
    margin:20px;
}

#projectTable {
    padding: 30px;
    margin: 15px;
}