/* item card styles */
#cardDiv {
    bottom: 100px;
    align-items: flex-start;
}

.project-content {
    display: inline-block;
    top: 0;
    height: 475px;
    width: 350px;
    margin: 15px;
    padding: 20px;
    line-height: 0;
}

.projects-div {
    justify-content: center;
}

/* card image */ 
#img {
    height: 250px;
    width: 350px;
    border: 2px solid grey;
}

#card{
    padding: 15px;
}

.link-image {
    height: 350px;
    width: 265px;
}

.project-link-button {
    color: white;
    align-content: space-between;
    
}

.about-image {
    height: 325px;
    width: 450px;
}
